* {
  box-sizing: border-box;
  
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Tanker', sans-serif;
  
}
h1 {
  font-size: 12rem;
}
h2 {
  font-size: 8rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2rem;
}
.body {
  border: 1px solid;
  
}
/*---------------global-----------------------*/
/*---------------header-----------------------*/
.header {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchbar-container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.input-search {
  width: 40rem;
  height: 6.5rem;
  border-radius: 2.5rem;
  border: 1rem solid black;
  
}
.input-search:placeholder-shown {
  text-align: center;
  font-family: 'Tanker', sans-serif;
  font-size: 3rem;
}

.button-search {
  font-family: 'Tanker', sans-serif;
  font-size: 2rem;
  border: none;
  width: 20rem;
  height: 3rem;
  border-radius: 1.3rem;
  cursor: pointer;
}
.button-search:hover {
  background-color: black;
  color: white;
} 
/*---------------main-----------------------*/
.main-container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
/*----------------results----------------------*/
.results-container {
  border-right: 01rem solid black;
  text-align: center;
  padding-right: 1rem;
}
.results-title {
  text-decoration: underline;
}
/*---------------tracklist-----------------------*/
.track-list-container {
  padding-left: 1rem;
  text-align: center;
}
/*---------------track---------------------------*/
.track-container {
  background-color: rgba(170, 173, 170, 0.1);
  display: flex;
  min-width: 32.7rem;
  border-radius: 1rem;
  border: 0.4rem solid black;
}
.track-image {
  
  width: 8rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
/*.track-text {
  
}*/
.track-artists {
  
  text-align: center;
}
/*
.track {
  
}*/
.track-btn {
  width: 3rem;
  font-family: 'Tanker', sans-serif;
  font-size: 3rem;
  background-color: transparent;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: none;
}
.track-btn:hover {
  background-color: rgba(170, 173, 170, 0.2);
}