* {
  box-sizing: border-box;
  
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Tanker', sans-serif;
  
}
h1 {
  font-size: 12rem;
}
h2 {
  font-size: 8rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2rem;
}
.body {
  border: 1px solid;
  
}
/*---------------global-----------------------*/
/*---------------header-----------------------*/
.header {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchbar-container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.input-search {
  font-family: 'Tanker', sans-serif;
  font-size: 3rem;
  text-align: center;
  color: grey;
  width: 40rem;
  height: 6.5rem;
  border-radius: 2.5rem;
  border: 1rem solid black;
  
}
.input-search::placeholder {
  text-align: center;
  font-family: 'Tanker', sans-serif;
  font-size: 3rem;
}

.button-search {
  font-family: 'Tanker', sans-serif;
  font-size: 2rem;
  border: none;
  width: 20rem;
  height: 3rem;
  border-radius: 1.3rem;
  cursor: pointer;
}
.button-search:hover {
  background-color: black;
  color: white;
} 
/*---------------main-----------------------*/
.main-container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin: 1rem 0;
  

}
/*----------------results----------------------*/
.results-container {
  border: 01rem solid black;
  text-align: center;
  padding: 1rem;
  min-width: 40rem;
}

/*---------------tracklist-----------------------*/
.playlist-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border: 1px solid;
  min-width: 40rem;
  border: 01rem solid black;
  
}
.playlist-input {
  border-radius: 3rem;
  border: none;
  border: 1px solid;
}
.playlist-input::placeholder {
  color: black;
  text-align: center;
  border: 1px solid;
  
}
.playlist-input:focus {
  /* outline: none;
*/  
     text-align: center;
}
/*---------------track---------------------------*/
.track-container {
  background-color: rgba(170, 173, 170, 0.1);
  display: flex;
  min-width: 32.7rem;
  border-radius: 1rem;
  border: 0.4rem solid black;
  margin-bottom: 0.2rem;
}
.track-image {
  
  width: 8rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.track-text {
  
  min-width: 25rem;
  max-width: 25rem
}
.track-artists {
  
  text-align: center;
}
/*
.track {
  
}*/
.track-btn {
  width: 3rem;
  font-family: 'Tanker', sans-serif;
  font-size: 3rem;
  background-color: transparent;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: none;
}
.track-btn:hover {
  background-color: rgba(170, 173, 170, 0.2);
}